<head>
    <meta charset="UTF-8">
    <title>{% block title %}Reset Password{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22> 🏠️</text></svg>">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap" rel="stylesheet">
    {% block style %}
        {{ encore_entry_link_tags('style/reset') }}
    {% endblock %}
</head>

{% block body %}
    <div class="reset-container">
        <div class="logo-container">
            <img class="logo" src="{{ asset('images/logo.png') }}">
        </div>

        <div class="reset-password-container">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <h1 class="reset-title">Reset your password</h1>

            <div class="centered-text">
                <small>
                    Enter your email address for reset link.
                </small>
            </div>

            {{ form_start(requestForm) }}
            <div class="form-group">
                <label for="{{ requestForm.email.vars.id }}"></label>
                {{ form_row(requestForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="text-center">
                <button class="submit">Send password reset email</button>
            </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
